
.row
  .col-sm-7.col-md-7.col-sm-offset-1.col-md-offset-1
    p
      h1 Welcome to Salesforce Migration Tool!
  .col-sm-2.col-md-2(style="margin-top: 40px;")
    if sessionUser
      span Welcome ,&nbsp; 
        a
          |#{sessionUser.username}
      a(href="/user/logout") 
        button.btn.btn-warning.btn-xs Sign out
