
.row(style="border-bottom: 1px solid #ccc;margin-bottom: 6px;min-width:980px;")
  .col-sm-8.col-md-8.col-sm-offset-1.col-md-offset-1
    p
      h1 Welcome to Salesforce Migration Tool!
  .col-sm-3.col-md-3(style="margin-top: 40px;")
    if sessionUser
      span Welcome ,&nbsp; 
        a
          |#{sessionUser.username}
      a.btn.btn-info.btn-xs(href="/user/logout",style="margin-left:6px;") Sign out
