!!! 5
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet', href='/styles/bootstrap.css', type='text/css')
    block stylesheet
    script(type='text/javascript', src="/js/libs/jquery.js")
    script(type='text/javascript', src="/js/libs/bootstrap.js")
    block scripts
  body
    block content
