.badge-edit{
	background-color:#5BC0DE;
}
.badge-signIn{
	background-color:#428BCA;
}
.badge-del{
	background-color:#F0AD4E;
}
.panel-body hr{
	margin-top: 0px;
	margin-bottom: 4px;
}
.panel-body h4{
	margin-left: 20px;
}
.panel-body .block-body{
	margin-left: 30px;
}
.container{
	border:1px solid #ccc;
	min-height: 600px;
}